<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
                layout="[${logger}] ${message}" >
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>

        <target xsi:type="Network"
                name="YTrace"
                onOverflow="Error"
                newLine="true"
                lineEnding="LF"
                layout="[${level:uppercase=true}][${logger}] ${message}"
                maxMessageSize="2056"
                encoding="UTF8"
                address="tcp4://127.0.0.1:9999"/>
    </targets>

    <rules>
        <logger name="Incoming" maxlevel="Trace" final="True" />
        <!--<logger name="BehaviorTree" maxlevel="Trace" final="True" />-->
        <logger name="*" minlevel="Trace" writeTo="coloredConsole"/>                
        <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="YTrace" />
        <logger name="*" minlevel="Debug" maxlevel="Info" writeTo="infoFile" />
        <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="errorFile" />
    </rules>
</nlog>